# Ignore environment variables (contains private database passwords)
.env

# Ignore external dependencies and libraries (don't upload thousands of files)
/node_modules/
/vendor/

# Ignore local server/development logs and caches
*.log
.phpunit.result.cache

# Ignore operating system system files (generated automatically by Windows/Mac)
Thumbs.db
.DS_Store